{%  load  static  %}
<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">

<title>Официальный сайт ППО АО Минудобрения</title>

<!-- instruction for IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- отображать страницу в масштабе 100% -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- для нормализации стилей, растягивает изображение по странице -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
<link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
<link rel="stylesheet" href={% static "css/main.css" %}>

<!-- подключение шрифтов -->
<link href="https://fonts.googleapis.com/css?family=Lora|PT+Serif&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon/favicon.png">
</head>


<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<!-- ....... Header ..............-->

<div class="header">
	<div class="container">
		<div class="row">
			<div class="top_line clearfix">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<a href="#" class="minudo_header_logo"><img src={% static "img/Header/top_line/menu/Minudo_header.jpg.png" %} alt="Минудобрения"></a>
				</div>
				<div class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
					<nav class="menu ">
		 				<ul>
		 	  				<li class="active"><a href="#">Главная</a></li>
		 	  				<li ><a href="#">Профсоюз</a></li>
		 	  				<li ><a href="#">Документы</a></li>
		 	  				<li ><a href="#">События</a></li>
		 	 				<li ><a href="#">Контакты</a></li>
					 	</ul>
					 </nav>
		   		</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"  >
					<div class="phone">
						<i class="fa fa-mobile" aria-hidden="true"> </i>+7(47396)5-11-18
					</div>
		  		</div>
			</div>
			<div class="header-content clearfix">
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<h1>Первичная профсоюзная организация <br>АО «Минудобрения»</h1>
						<ul>
							<li>
								<i class="fa fa-circle" aria-hidden="true"> <em>Защита прав членов профсоюза</em></i>
								<i class="fa fa-circle" aria-hidden="true"> <em>Своевременная социальная поддержка</em></i>
								<i class="fa fa-circle" aria-hidden="true"> <em>Представляем интересы работников АО «Минудобрения»</em></i>
							</li>
						</ul>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
					<div class="top-img">
						<img class="picture" src={% static "img/Header/head/profkom_logo.png" %} alt="Профком">
					</div>
				</div>
			</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="mouse-wrap">
						<div class="mouse-icon"><div class="wheel"></div></div>
					</div>
				</div>
		</div>
	</div>
</div>

<!-- ....... Bottom line ..............-->

<section class="bottom_line">
<div class="friend"><h1>Дружетсвенные сайты</h1></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a href="#" class="minudo_bottom"><img src={% static "img/Header/bottom_line/Minudo_bottom.jpg.png" %} alt="Минудобрения"></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a href="#" class="fnpr"><img src={% static "img/Header/bottom_line/FNPR.jpg" %} alt="FNPR"></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a href="#" class="solid"><img src={% static "img/Header/bottom_line/Solid.jpg.png" %} alt="Солидарность"></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a href="#" class="roshim"><img src={% static "img/Header/bottom_line/ROSHIM.jpg.png" %} alt="Roshim"></a>
			</div>
		</div>
	</div>
</section>

<!-- ....... section1 ..............-->

<section class="section1">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<a href="#" class="Samodurova"><img src={% static "img/section1/boss.jpg.png" %} alt="Руководитель профсоюза"></a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<h1>Вот тебе моя рука - с Профсоюзом на века!</h1>
				<p>Приветствие</p>
				<p>Я искренне рада приветствовать Вас на нашем Интернет-сайте. Первичная профсоюзная организация акционерного общества "Минудобрения" - одна из многочисленных профсоюзных организаций в Воронежской области, объединяющей около пяти тысяч членов профсоюза - это 99,6% от работающих.</p>
				<p>Основной задачей деятельности профсоюза является представительство, защита индивидуальных и коллективных социально-трудовых, профессиональных, экономических прав членов профсоюза, своевременная социальная поддержка нуждающихся в помощи.</p>
				<p>На нашей страничке Вы сможете найти интересующую Вас информацию о наших целях и задачах, приоритетах работы и достижениях, перспективах развития.</p>
				<p>Добро пожаловать на наш сайт.</p>
				<p>Председатель Н. И. Самодурова</p>
			</div>
		</div>
	</div>
</section>

<!-- ....... section2 ..............-->

<section class="section2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="inform">
					<h1>Сколько нас</h1>
					<p>Работает - 3994 чел.<br />
						Из них членов профсоюза - 3940 чел.<br />
						Удельный вес - 98,6 %<br />
						Неработающие пенсионеры - 521 чел.<br />
						Всего членов профсоюза - 4461 чел<br /></p><br />
						<p>В СТРУКТУРУ ППО АО "МИНУДОБРЕНИЯ" ВХОДЯТ:<br />
						АО "Минудобрения" - 4251 чел.<br />
						РХМТ - 57 чел.
						</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ....... section3 ..............-->

<section class="section3">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="contacts">
					<h1>Контакты</h1>
					<i class="fa fa-map-marker" aria-hidden="true"> Наш адрес: Воронежская область, г. Россошь, ул. Химзаводская, д.2</i><br />
					<i class="fa fa-mobile" aria-hidden="true"> Индекс: 396657 Тел/Факс: +7(47396) 5-11-18 E-mail:  </i><br />
				</div>
				<div style="text-align: center;"><a href="ссылка_на_Яндекс_Карты" target="_blank"><img src="адрес_из_конструктора" alt="название_компании"/></a></div>
			</div>
		</div>
	</div>
</section>

<!-- ....... section3 ..............-->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="top_line clearfix">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<a href="#" class="minudo_logo_white"><img src={% static "img/footer/minudo_white.jpg.png" %} alt="Минудобрения"></a>
				</div>
				<div class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
					<nav class="menu_footer">
		 				<ul>
		 	  				<li class="active"><a href="#">Главная</a></li>
		 	  				<li ><a href="#">Профсоюз</a></li>
		 	  				<li ><a href="#">Документы</a></li>
		 	  				<li ><a href="#">События</a>	</li>
		 	 				<li ><a href="#">Контакты</a>	</li>
					 	</ul>
					 </nav>
		   		</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"  >
					<div class="Profsouz">
						<a href="#" class="Profsouz_logo"><img src={% static "img/footer/profkom_footer.jpg.png" %} alt="Logo"></a>
					</div>
		  		</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>